In [1]:
import pandas as pd

from tools import *

filename = 'olist_order_reviews_dataset.parquet'
order_reviews = pd.read_parquet(f'./../data/{filename}')
cleaned_order_reviews = None

In [2]:
print(order_reviews.head())

                          review_id                          order_id  \
0  7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1  80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
2  228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b
3  e64fb393e7b32834bb789ff8bb30750e  658677c97b385a9be170737859d3511b
4  f7c4243c7fe1938f181bec41a392bdeb  8e6bfb81e283fa7e4f11123a3fb894f1

   review_score review_comment_title  \
0             4                 None
1             5                 None
2             5                 None
3             5                 None
4             5                 None

                              review_comment_message review_creation_date  \
0                                               None  2018-01-18 00:00:00
1                                               None  2018-03-10 00:00:00
2                                               None  2018-02-17 00:00:00
3              Recebi bem antes do prazo estipulado.  2017-04-21 00:00:00
4  Parabéns lojas lannister adorei comprar pela I...  2018-03-01 00:00:00

  review_answer_timestamp
0     2018-01-18 21:46:59
1     2018-03-11 03:05:13
2     2018-02-18 14:36:24
3     2017-04-21 22:02:06
4     2018-03-02 10:26:53

In [3]:
print(order_reviews.describe())

       review_score
count  99224.000000
mean       4.086421
std        1.347579
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

In [4]:
visualize_data(order_reviews)

,Fetaure,Tipo,Nulos (%),Negativos (%),Zeros (%),Duplicados,Unicos,Valores unicos
0,review_id,object,0.00,0.0,0.0,0,98410,"[7bc2406110b926393aa56f80a40eba40, 80e641a11e5..."
1,order_id,object,0.00,0.0,0.0,0,98673,"[73fc7af87114b39712e6da79b0a377eb, a548910a1c6..."
2,review_score,int64,0.00,0.0,0.0,0,5,"[4, 5, 1, 3, 2]"
3,review_comment_title,object,88.34,0.0,0.0,0,4527,"[None, recomendo, Super recomendo, Não chegou ..."
4,review_comment_message,object,58.70,0.0,0.0,0,36159,"[None, Recebi bem antes do prazo estipulado., ..."
5,review_creation_date,object,0.00,0.0,0.0,0,636,"[2018-01-18 00:00:00, 2018-03-10 00:00:00, 201..."
6,review_answer_timestamp,object,0.00,0.0,0.0,0,98248,"[2018-01-18 21:46:59, 2018-03-11 03:05:13, 201..."

In [5]:
order_reviews.drop(columns=['review_comment_title', 'review_comment_message'], inplace=True)
order_reviews['review_creation_date'] = pd.to_datetime(order_reviews['review_creation_date'])
order_reviews['review_answer_timestamp'] = pd.to_datetime(order_reviews['review_answer_timestamp'])
visualize_data(order_reviews)

,Fetaure,Tipo,Nulos (%),Negativos (%),Zeros (%),Duplicados,Unicos,Valores unicos
0,review_id,object,0.0,0.0,0.0,0,98410,"[7bc2406110b926393aa56f80a40eba40, 80e641a11e5..."
1,order_id,object,0.0,0.0,0.0,0,98673,"[73fc7af87114b39712e6da79b0a377eb, a548910a1c6..."
2,review_score,int64,0.0,0.0,0.0,0,5,"[4, 5, 1, 3, 2]"
3,review_creation_date,datetime64[ns],0.0,0.0,0.0,0,636,"[2018-01-18 00:00:00, 2018-03-10 00:00:00, 201..."
4,review_answer_timestamp,datetime64[ns],0.0,0.0,0.0,0,98248,"[2018-01-18 21:46:59, 2018-03-11 03:05:13, 201..."

In [6]:
order_reviews.to_parquet(f"./../cleaned_data/{filename}")